<h2>Recently added</h2>
<h4><% if(locals.userName) { %>
    <%= locals.userName %>
<% } else { %>
 <%= locals.userName  %> 
 <% } %> </h4>
<% books.forEach(book => { %>
    <div>
        <a href="books/<%= book.id  %> ">
    <img height="150" src="<%= book.coverImagePath %>" style="text-align: center;margin: 0 auto; display: block;" alt="">
    <p style="text-align: center;"> <%= book.title %> </p>
</a>
    </div>
<% }) %>